<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
         <header th:replace="layout/layout :: header"></header>
        <nav class="nav nav-pills" style="padding: 30px">
           
            <li class="nav-item">
                <a  th:href="@{/}" class=" nav-link active" >[[#{accion.regresar}]]</a>
            </li>      
        </nav>
        <div class="form-row" style="padding: 30px">
            <form   th:action="@{/guardar}" method="post" th:object="${persona}">
                <div class="form-row">
                    <br/>
                    <input type="hidden" name="id" th:field="*{id}">
                    
                    <div class="col-md-4 mb-3">                
                        <label for="nombre">Nombre:</label>
                        <input type="text" name="nombre" th:field="*{nombre}">
                        <span th:if="${#fields.hasErrors('nombre')}" th:Errors="*{nombre}">Error nombre</span>
                    </div>       
                    <br/>

                    <div  class="col-md-4 mb-3">
                        <label for="apellido">Apellido:</label>
                        <input type="text" name="apellido" th:field="*{apellido}"><!-- comment -->
                         <span th:if="${#fields.hasErrors('apellido')}" th:Errors="*{apellido}">Error apellido</span>
                    </div> 
                    <br/>

                    <div  class="col-md-4 mb-3">
                        <label for="email">Email:</label>
                        <input type="text" name="email" th:field="*{email}"><!--  -->
                         <span th:if="${#fields.hasErrors('email')}" th:Errors="*{email}">Error email</span>
                    </div>

                    <br/>
                    <div  class="col-md-4 mb-3">
                        <label for="celular">Celular:</label>
                        <input type="tel" name="celular" th:field="*{celular}"><!-- comment -->
                         <span th:if="${#fields.hasErrors('celular')}" th:Errors="*{celular}" >Error celular</span>
                    </div>

                    <br/>
                    <input class="btn btn-primary" type="submit" name="guardar" value="Guardar">
                </div>
            </form>
        </div>
       
    </body>
</html>
